# Load finance data 
I’ve been working on the finance data for a bit (attached) and I see two issues:

1.	 In theory, this data be available at a state level but it is only downloadable at the district level. See the file attached downloaded from the Urban institute. I tried getting it at the state level from NCES but something chokes at download, even when generating the data; if someone else could try, it’d be great. I already created and saved the table, it’s just a matter of going here https://nces.ed.gov/ccd/elsi/tableGenerator.aspx and entering 160426 in the table ID box. Once the table is generated, it needs to be downloaded, which is where my computer chokes


Answer: There is a supplementary file called codebook_districts_ccd_finance.xls that provides a way to convert the "fips" column to a Statename. Once this is added we can groupby state and year and run any state level queries as needed such as sums, aggregates etc. 

Provided below are the steps using the data from https://educationdata.urban.org/documentation/school-districts.html#ccd_finance

In [29]:
import pandas as pd

finance_df = pd.read_csv('finance_data/districts_ccd_finance.csv.zip')
print(finance_df.columns)
finance_df

Index(['year', 'leaid', 'fips', 'censusid', 'rev_total', 'rev_fed_total',
       'rev_fed_child_nutrition_act', 'rev_fed_state_title_i',
       'rev_fed_state_idea', 'rev_fed_state_math_sci_teach',
       ...
       'debt_longterm_issued_FY', 'debt_longterm_retired_FY',
       'debt_longterm_outstand_end_FY', 'debt_shortterm_outstand_beg_FY',
       'debt_shortterm_outstand_end_FY', 'assets_sinking_fund',
       'assets_bond_fund', 'assets_other', 'enrollment_fall_responsible',
       'enrollment_fall_school'],
      dtype='object', length=133)

,year,leaid,fips,censusid,rev_total,rev_fed_total,rev_fed_child_nutrition_act,rev_fed_state_title_i,rev_fed_state_idea,rev_fed_state_math_sci_teach,...,debt_longterm_issued_FY,debt_longterm_retired_FY,debt_longterm_outstand_end_FY,debt_shortterm_outstand_beg_FY,debt_shortterm_outstand_end_FY,assets_sinking_fund,assets_bond_fund,assets_other,enrollment_fall_responsible,enrollment_fall_school
0,1991,100005,1.0,1.504840e+07,11265000.0,1012000.0,285000,413000,140000,10000,...,0.0,0,0.0,0,0.0,0,0.0,732000.0,3084.0,NaN
1,1991,100006,1.0,1.504800e+07,22855000.0,2009000.0,854000,671000,249000,18000,...,0.0,2000,12385000.0,0,0.0,370000,1679000.0,511000.0,6139.0,NaN
2,1991,100007,1.0,1.503740e+07,36812000.0,651000.0,179000,99000,286000,6000,...,44159000.0,260000,53960000.0,0,0.0,0,30420000.0,3816000.0,6328.0,NaN
3,1991,100030,1.0,1.506200e+07,14397000.0,1014000.0,279000,447000,136000,12000,...,5353000.0,192000,6449000.0,0,0.0,0,2005000.0,2619000.0,3783.0,NaN
4,1991,100060,1.0,1.502000e+07,7768000.0,948000.0,247000,295000,295000,8000,...,0.0,0,0.0,0,0.0,0,0.0,144000.0,2154.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406617,2016,5680250,56.0,5.150204e+13,-2.0,-2.0,-2,-2,-2,-2,...,-2.0,-2,-2.0,-2,-2.0,-2,-2.0,-2.0,-2.0,0.0
406618,2016,5680251,56.0,-2.000000e+00,-2.0,-2.0,-2,-2,-2,-2,...,-2.0,-2,-2.0,-2,-2.0,-2,-2.0,-2.0,0.0,0.0
406619,2016,5680252,56.0,-2.000000e+00,-2.0,-2.0,-2,-2,-2,-2,...,-2.0,-2,-2.0,-2,-2.0,-2,-2.0,-2.0,0.0,0.0
406620,2016,5680253,56.0,-2.000000e+00,-2.0,-2.0,-2,-2,-2,-2,...,-2.0,-2,-2.0,-2,-2.0,-2,-2.0,-2.0,0.0,0.0
406621,2016,5680254,56.0,-2.000000e+00,-2.0,-2.0,-2,-2,-2,-2,...,-2.0,-2,-2.0,-2,-2.0,-2,-2.0,-2.0,245.0,245.0

In [30]:
# Adding State column by reading codebook
value_mappings = pd.read_excel(open('finance_data/codebook_districts_ccd_finance.xls', 'rb'),
              sheet_name='values')

fips_codes = value_mappings[value_mappings["format"] == "fips"].set_index('code').code_label.to_dict()
finance_df["state_name"] = finance_df["fips"].map(fips_codes)
print(finance_df.columns)
finance_df

Index(['year', 'leaid', 'fips', 'censusid', 'rev_total', 'rev_fed_total',
       'rev_fed_child_nutrition_act', 'rev_fed_state_title_i',
       'rev_fed_state_idea', 'rev_fed_state_math_sci_teach',
       ...
       'debt_longterm_retired_FY', 'debt_longterm_outstand_end_FY',
       'debt_shortterm_outstand_beg_FY', 'debt_shortterm_outstand_end_FY',
       'assets_sinking_fund', 'assets_bond_fund', 'assets_other',
       'enrollment_fall_responsible', 'enrollment_fall_school', 'state_name'],
      dtype='object', length=134)

,year,leaid,fips,censusid,rev_total,rev_fed_total,rev_fed_child_nutrition_act,rev_fed_state_title_i,rev_fed_state_idea,rev_fed_state_math_sci_teach,...,debt_longterm_retired_FY,debt_longterm_outstand_end_FY,debt_shortterm_outstand_beg_FY,debt_shortterm_outstand_end_FY,assets_sinking_fund,assets_bond_fund,assets_other,enrollment_fall_responsible,enrollment_fall_school,state_name
0,1991,100005,1.0,1.504840e+07,11265000.0,1012000.0,285000,413000,140000,10000,...,0,0.0,0,0.0,0,0.0,732000.0,3084.0,NaN,Alabama
1,1991,100006,1.0,1.504800e+07,22855000.0,2009000.0,854000,671000,249000,18000,...,2000,12385000.0,0,0.0,370000,1679000.0,511000.0,6139.0,NaN,Alabama
2,1991,100007,1.0,1.503740e+07,36812000.0,651000.0,179000,99000,286000,6000,...,260000,53960000.0,0,0.0,0,30420000.0,3816000.0,6328.0,NaN,Alabama
3,1991,100030,1.0,1.506200e+07,14397000.0,1014000.0,279000,447000,136000,12000,...,192000,6449000.0,0,0.0,0,2005000.0,2619000.0,3783.0,NaN,Alabama
4,1991,100060,1.0,1.502000e+07,7768000.0,948000.0,247000,295000,295000,8000,...,0,0.0,0,0.0,0,0.0,144000.0,2154.0,NaN,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406617,2016,5680250,56.0,5.150204e+13,-2.0,-2.0,-2,-2,-2,-2,...,-2,-2.0,-2,-2.0,-2,-2.0,-2.0,-2.0,0.0,Wyoming
406618,2016,5680251,56.0,-2.000000e+00,-2.0,-2.0,-2,-2,-2,-2,...,-2,-2.0,-2,-2.0,-2,-2.0,-2.0,0.0,0.0,Wyoming
406619,2016,5680252,56.0,-2.000000e+00,-2.0,-2.0,-2,-2,-2,-2,...,-2,-2.0,-2,-2.0,-2,-2.0,-2.0,0.0,0.0,Wyoming
406620,2016,5680253,56.0,-2.000000e+00,-2.0,-2.0,-2,-2,-2,-2,...,-2,-2.0,-2,-2.0,-2,-2.0,-2.0,0.0,0.0,Wyoming
406621,2016,5680254,56.0,-2.000000e+00,-2.0,-2.0,-2,-2,-2,-2,...,-2,-2.0,-2,-2.0,-2,-2.0,-2.0,245.0,245.0,Wyoming

In [27]:
# Group by state and year and aggregate a few columns.
# 

finance_df_grouped = finance_df.groupby(['state_name', "year"]).agg(
    {'assets_bond_fund': ['sum'],
    'rev_total': ['sum'],
    'rev_fed_total': ['sum'], 
    'debt_longterm_retired_FY': ['sum'],
    'debt_longterm_outstand_end_FY': ['sum'] }).reset_index()


finance_df_grouped
# finance_df_grouped.assets_bond_fund.sum

,state_name,year,assets_bond_fund,rev_total,rev_fed_total,debt_longterm_retired_FY,debt_longterm_outstand_end_FY
,,,sum,sum,sum,sum,sum
0,Alabama,1991,137952000.0,2.678907e+09,304177000.0,44266000,5.338630e+08
1,Alabama,1994,173022000.0,3.367437e+09,328957000.0,35712000,7.301020e+08
2,Alabama,1995,231222000.0,3.365113e+09,334858000.0,40004000,8.257450e+08
3,Alabama,1996,273122000.0,3.981788e+09,376200000.0,55433000,9.160200e+08
4,Alabama,1997,251297000.0,4.140537e+09,374153000.0,55351000,1.035412e+09
...,...,...,...,...,...,...,...
1219,Wyoming,2012,-26.0,1.695967e+09,113500974.0,8479974,6.166497e+07
1220,Wyoming,2013,-26.0,1.772633e+09,112708974.0,5244974,8.130697e+07
1221,Wyoming,2014,-26.0,1.962874e+09,120289974.0,5379974,7.536497e+07
1222,Wyoming,2015,-26.0,2.044669e+09,123011974.0,11554974,6.280997e+07
1223,Wyoming,2016,-26.0,1.932978e+09,117806974.0,5929974,5.796297e+07

# Question 2 

The educational spend is not desegregated by level. To try to work around this, in the table above I only selected districts with schools 9-12 grades but we would still need to assume that the expenditure numbers are the same at all levels in those districts (which may not be true, it may well be that in the same district and school, spend per pupil is higher in grade 12 than in grade 9). I don’t think it’s a big deal but something we should be aware of.

Answer: I think finding the expenditure levels by grades might be difficult and using a per pupil number is good enough for our analysis. 

## Linear Regression to predict expenditure? 
We can see if expenditure fits in a linear regression formula. We can use ratio's of students as the variables and the expenditure as the number we are trying to predict. 

Ex. state, grade1_ratio, grade1_ratio,grade1_ratio = expenditure 
where: 
gradex_ratio = number_of_student_in_grade_x / sum(students_in_the_school)
expenditure = how_much_was spend etc. 

We can create predictions on how expenditures might change in a school, district or state based on the ratio of students. Also, there might already be a formula available on how the government allocates spend? I am assuming a school will spend more on older students (maybe not? and this is what we are trying to find) ? 


## Alternative expenditures to look at

Also, there are many interesting ways the expenditures are broken up in the data-set as seen in (03-educationdata-dashboards/finance_data/codebook_districts_ccd_finance.xls)[03-educationdata-dashboards/finance_data/codebook_districts_ccd_finance.xls]

I see info on bilingual education, transportation cost. 

We could also join this dataset with the race ratios in various states / districts and gather insights on that. 


```
exp_current_elsec_total	numeric	Total current expenditures for elementary and secondary education 
exp_current_state_local_funds	numeric	Current expenditures from state and local funds
exp_current_federal_funds	numeric	Current expenditures from federal funds
exp_current_instruction_total	numeric	Total current expenditures for instruction 
exp_current_supp_serve_total	numeric	Total current expenditures for support services 
exp_current_pupils	numeric	Current expenditures for pupil support services 
exp_current_instruc_staff	numeric	Current expenditures for instructional staff support services 
exp_current_general_admin	numeric	Current expenditures for general administration support services 
exp_current_sch_admin	numeric	Current expenditures for school administration support services 
exp_current_operation_plant	numeric	Current expenditures for support services for operation and maintenance of plant 
exp_current_student_transport	numeric	Current expenditures for student transportation support services 
exp_current_bco	numeric	Current expenditures for business, central, and other support services 
exp_current_supp_serv_nonspec	numeric	Current expenditures for support services for nonspecified purposes
exp_current_other	numeric	Total current expenditures for other elementary or secondary 
exp_current_food_serv	numeric	Current expenditures for food services 
exp_current_enterprise	numeric	Current expenditures for enterprise operations 
exp_current_other_elsec	numeric	Current expenditures for other elementary or secondary school purposes
exp_nonelsec	numeric	Total non-elementary or secondary school expenditures
exp_nonelsec_community_serv	numeric	Non-elementary or secondary school expenditures for community services 
exp_nonelsec_adult_education	numeric	Non-elementary or secondary school expenditures for adult education 
exp_nonelsec_other	numeric	Non-elementary or secondary school expenditures for other purposes
exp_current_arra	numeric	Current expenditures for the American Recovery and Reinvestment Act 
exp_textbooks	numeric	Expenditures on textbooks 
exp_utilities_energy	numeric	Expenditures for utilities and energy services
exp_tech_supplies_services	numeric	Expenditures for technology-related supplies and purchased services
exp_tech_equipment	numeric	Expenditures for technology-related equipment
outlay_capital_total	numeric	Total capital outlay expenditures 
outlay_capital_construction	numeric	Capital outlay for construction 
outlay_capital_land_structures	numeric	Capital outlay for land and existing structures 
outlay_capital_instruc_equip	numeric	Capital outlay for instructional equipment 
outlay_capital_other_equip	numeric	Capital outlay for other equipment 
outlay_capital_nonspec_equip	numeric	Capital outlay for nonspecified equipment 
outlay_capital_arra	numeric	Capital outlay for the American Recovery and Reinvestment Act 
payments_private_schools	numeric	Payments to private schools 
payments_charter_schools	numeric	Payments to charter schools 
payments_state_govt	numeric	Payments to state governments 
payments_local_govt	numeric	Payments to local governments 
payments_other_sch_system	numeric	Payments to other school systems 
salaries_total	numeric	Total salary amount 
salaries_instruction	numeric	Salaries for instruction
salaries_teachers_regular_prog	numeric	Teacher salaries for regular education programs 
salaries_teachers_sped	numeric	Teacher salaries for special education programs 
salaries_teachers_vocational	numeric	Teacher salaries for vocational education programs 
salaries_teachers_other_ed	numeric	Teacher salaries for other education programs 
salaries_supp_pupils	numeric	Salaries for pupil support services 

```